In [1]:
import importlib
import func
importlib.reload(func)
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [6]:
CENSUS_2010_BG = pd.read_excel("data/Intersect_Release_CENSUS_2010_Block_Groups.xls")
CENSUS_2010_B = pd.read_excel("data/Intersect_Release_CENSUS_2010_Blocks.xls")

In [7]:
print(CENSUS_2010_BG.shape)
print(CENSUS_2010_B.shape)

(11011, 42)
(11013, 44)

In [8]:
CENSUS_2010_BG.head()

,FID,FID_ALL_MA,rtn,town,ofc_town,address,zip_code,site_name,ofc_notif,category,...,AREA_SQFT,AREA_ACRES,POP100_RE,HU100_RE,LOGPL94171,LOGSF1,LOGACS0610,LOGSF1C,SHAPE_Leng,SHAPE_Area
0,0,3431,4-0022830,NANTUCKET,NANTUCKET,11 NONANTUM STREET,,RESIDENTIAL PROPERTY,2010-09-02,TWO HR,...,67590708.19,1551.6692,1423,975,139965,109097,7158,109097,12719.167849,6.279407e+06
1,1,3226,4-0025038,NANTUCKET,NANTUCKET,58 POCHICK AVE,02564-0000,RESIDENTIAL PROPERTY,2014-03-11,TWO HR,...,67590708.19,1551.6692,1423,975,139965,109097,7158,109097,12719.167849,6.279407e+06
2,2,2373,4-0021874,NANTUCKET,NANTUCKET,14 AIRPORT RD,,NANTUCKET AIRPORT,2009-04-06,TWO HR,...,97421680.60,2236.4940,999,670,139966,109098,7159,109098,15277.028972,9.050807e+06
3,3,8480,4-0025255,NANTUCKET,NANTUCKET,14 AIRPORT RD,02554-0000,NANTUCKET MEMORIAL AIRPORT,2014-07-28,120 DY,...,97421680.60,2236.4940,999,670,139966,109098,7159,109098,15277.028972,9.050807e+06
4,4,2372,4-0022428,NANTUCKET,NANTUCKET,10 FRIENDSHIP LN,02554-0000,PAD MOUNTED TRANSFORMER,2010-01-29,120 DY,...,21761146.03,499.5672,1405,873,139959,109091,7154,109091,5972.079872,2.021685e+06

In [9]:
CENSUS_2010_B.head()

,FID,FID_ALL_MA,rtn,town,ofc_town,address,zip_code,site_name,ofc_notif,category,...,REALTOWN,TOWN_ID,COUSUBFP10,POP100_RE,HU100_RE,LOGPL94171,LOGSF1,LOGSF1C,SHAPE_Leng,SHAPE_Area
0,0,3431,4-0022830,NANTUCKET,NANTUCKET,11 NONANTUM STREET,,RESIDENTIAL PROPERTY,2010-09-02,TWO HR,...,Nantucket,197,43790,21,71,140832,108555,108555,6906.760753,8.118592e+05
1,1,3226,4-0025038,NANTUCKET,NANTUCKET,58 POCHICK AVE,02564-0000,RESIDENTIAL PROPERTY,2014-03-11,TWO HR,...,Nantucket,197,43790,49,49,140859,108582,108582,3931.482115,3.458832e+05
2,2,2373,4-0021874,NANTUCKET,NANTUCKET,14 AIRPORT RD,,NANTUCKET AIRPORT,2009-04-06,TWO HR,...,Nantucket,197,43790,11,12,140915,108639,108639,8468.798578,2.461066e+06
3,3,8480,4-0025255,NANTUCKET,NANTUCKET,14 AIRPORT RD,02554-0000,NANTUCKET MEMORIAL AIRPORT,2014-07-28,120 DY,...,Nantucket,197,43790,0,0,140448,108154,108154,1276.520429,3.726742e+04
4,4,2372,4-0022428,NANTUCKET,NANTUCKET,10 FRIENDSHIP LN,02554-0000,PAD MOUNTED TRANSFORMER,2010-01-29,120 DY,...,Nantucket,197,43790,48,25,140374,108080,108080,756.732414,3.608681e+04

In [34]:
df101_tier = pd.read_excel("data/df_101_tier.xlsx")

In [37]:
print(df101_tier.shape)
df101_tier.head()

(13323, 145)

,RTN,A1,A2,A2A,A2B,A3,A3A,A3B,A3C,A3D,...,H5,H6,H7,H8,H9,LUST_ELIGIBLE_NO,LUST_ELIGIBLE_UNKNOWN,LUST_ELIGIBLE_YES,STAFF_UNASSIGNED,Tier1D
0,1-0000047,0,0,0,0,1,1,0,0,0,...,0,0,1,0,0,0,1,0,0,True
1,1-0000539,0,0,0,0,1,1,0,0,0,...,0,0,1,0,0,0,1,0,0,True
2,1-0000616,1,0,0,0,1,1,0,0,0,...,0,0,1,0,0,0,1,0,0,True
3,1-0000816,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,True
4,1-0000816,1,0,0,0,1,1,0,0,0,...,0,0,1,0,0,1,0,0,0,True

In [36]:
len(df101_tier['RTN'].unique())

12741

In [23]:
len(CENSUS_2010_BG['rtn'].unique())

11011

In [43]:
FORM_GIS_BG = df101_tier.join(CENSUS_2010_BG[['rtn']].set_index('rtn'), how='inner', on="RTN", rsuffix='_')['RTN'].tolist()

In [45]:
len(FORM_GIS_BG)

11263

In [69]:
BG_group_quarters_pop                = pd.read_excel("data/GIS/BLK_GRP/group_quarters_pop.xlsx")
BG_households_by_age_family_children = pd.read_excel("data/GIS/BLK_GRP/households_by_age_family_children.xlsx")

In [66]:
B_group_quarters_pop                = pd.read_excel("data/GIS/BLK/group_quarters_pop.xlsx")
B_households_by_age_family_children = pd.read_excel("data/GIS/BLK/households_by_age_family_children.xlsx")

In [80]:
print(BG_group_quarters_pop.shape)
print(BG_households_by_age_family_children.shape)

(4985, 12)
(4985, 33)

In [81]:
print(B_group_quarters_pop.shape)
print(B_households_by_age_family_children.shape)

(157508, 12)
(157508, 33)

In [88]:
Intersect_BG_SF1 = CENSUS_2010_BG.join(BG_group_quarters_pop[['LOGRECNO']].set_index('LOGRECNO'), how='inner', on="LOGSF1", rsuffix='_')['LOGSF1'].tolist()

In [89]:
len(Intersect_BG_SF1)

11011

In [93]:
Intersect_B_SF1 = CENSUS_2010_B.join(B_group_quarters_pop[['LOGRECNO']].set_index('LOGRECNO'), how='inner', on="LOGSF1", rsuffix='_')

In [94]:
len(Intersect_B_SF1)

11013

In [95]:
Intersect_B_SF1.head()

,FID,FID_ALL_MA,rtn,town,ofc_town,address,zip_code,site_name,ofc_notif,category,...,REALTOWN,TOWN_ID,COUSUBFP10,POP100_RE,HU100_RE,LOGPL94171,LOGSF1,LOGSF1C,SHAPE_Leng,SHAPE_Area
0,0,3431,4-0022830,NANTUCKET,NANTUCKET,11 NONANTUM STREET,,RESIDENTIAL PROPERTY,2010-09-02,TWO HR,...,Nantucket,197,43790,21,71,140832,108555,108555,6906.760753,8.118592e+05
1,1,3226,4-0025038,NANTUCKET,NANTUCKET,58 POCHICK AVE,02564-0000,RESIDENTIAL PROPERTY,2014-03-11,TWO HR,...,Nantucket,197,43790,49,49,140859,108582,108582,3931.482115,3.458832e+05
2,2,2373,4-0021874,NANTUCKET,NANTUCKET,14 AIRPORT RD,,NANTUCKET AIRPORT,2009-04-06,TWO HR,...,Nantucket,197,43790,11,12,140915,108639,108639,8468.798578,2.461066e+06
3,3,8480,4-0025255,NANTUCKET,NANTUCKET,14 AIRPORT RD,02554-0000,NANTUCKET MEMORIAL AIRPORT,2014-07-28,120 DY,...,Nantucket,197,43790,0,0,140448,108154,108154,1276.520429,3.726742e+04
4,4,2372,4-0022428,NANTUCKET,NANTUCKET,10 FRIENDSHIP LN,02554-0000,PAD MOUNTED TRANSFORMER,2010-01-29,120 DY,...,Nantucket,197,43790,48,25,140374,108080,108080,756.732414,3.608681e+04